@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: black;
  overflow: auto;
  position: relative;
}
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


.top-head{
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-header {
  background-color: #0e0e0e;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.main-header h1 {
  font-size: 2.5em;
  margin: 0;
  letter-spacing: 1px;
}

.main-header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.main-header nav ul li {
  margin: 0 10px;
}

.main-header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s;
}

.main-header nav ul li a:hover {
  color: #1e90ff;
  background-color: rgba(255, 255, 255, 0.216);
}


.main-header.scrolled {
    background: linear-gradient(135deg, #0b0c10, #1f2833);
    border-radius: 15px;
}


h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}

p {
  font-size: 12px;
}

.center {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h2 {
background: linear-gradient(35deg,#ff5100, #ff00bf);
border-radius: 30%;
width: fit-content;
}
.property-card {
  height: 18em;
  width: 14em;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 10px 10px 20px #e1e1e3, -10px -10px 20px #ffffff;
  margin-bottom: 0.5rem;
}

.property-image {
  height: 25em;
  
  width: 14em;
  /* padding-bottom: 8em; */
  /* height: fit-content;
  width: fit-content; */
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: center; /* Ensure the image zooms from the center */
}

.property-description {
  background-color: #FAFAFC;
  height: 12em;
  width: 14em;
  position: absolute;
  bottom: 0;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
}

.property-card:hover .property-description {
  height: 0em;
  padding: 0px 1em;
}

.property-card:hover .property-image {
  transform: scale(2);
}

.property-social-icons {
  width: 1em;
  height: 1em;
  background-color: black;
  position: absolute;
  bottom: 1em;
  left: 1em;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.property-card:hover .property-social-icons {
  background-color: white;
}

.property-card:hover .property-social-icons:hover {
  background-color: blue;
  cursor: pointer;
}


.property-image-title {
  text-align: center;
  position: relative;
  top: 30%;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  color: black;
  font-size: 1.2em;
}

.property-card:hover .property-image-title {
  opacity: 1;
}


.games-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1px; 
  margin: 1.5rem 0;
}

  
  .main-footer {
    background-color: transparent;
    /* filter: blur(10px); */
    backdrop-filter: blur(10px);
    padding: 1rem 0;
    color: white;
    text-align: center;
  }
  
  .main-footer ul {
    /* filter: none; */
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .main-footer ul li a {
    color: white;
    text-decoration: none;
  }



.cube {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 8s linear infinite;
    z-index: -1;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #fa06bd);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #221f1f;
    transform: rotateX(90deg) translateZ(149px);
}

.top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 253, 0);
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(4, 211, 4, 0.2),
                0 0 200px rgba(0, 225, 0, 0.4),
                0 0 300px rgba(0, 225, 0, 0.6),
                0 0 400px rgba(0, 225, 0, 0.8),
                0 0 500px rgb(28, 177, 28);
}