body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
}


.everything {
    display: flex;
    gap: 20px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.white-block,
.blue-block {
    position: relative;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.white-block:hover,
.blue-block:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}


.white-block {
    background: linear-gradient(to bottom right, #ffffff, #dcdcdc);
    color: #333;
}

.blue-block {
    background: linear-gradient(135deg, #00aaff 0%, #0066cc 100%);
    color: white;
}

.white-block .plan-title,
.blue-block .plan-title {
    text-align: center;
    font-size: 2em;
    padding: 20px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.blue-block .plan-title {
    border-bottom-color: rgba(0, 0, 0, 0.1);
}


.white-block .price,
.blue-block .price {
    text-align: center;
    font-size: 5em;
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 20px 0;
}

.price .currency {
    font-size: 0.5em;
    vertical-align: top;
    margin-right: 5px;
}

.price .per-month {
    font-size: 0.3em;
    margin-left: 5px;
    vertical-align: bottom;
}


.plan-details {
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.7);
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    border-radius: 10px;
}


.select-button {
    text-align: center;
    padding: 10px;
    background: #0066cc;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
