body {
    background-color: #293847;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    height: 100%;
}

header {
    background-color: #0e0e0e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    letter-spacing: 1px;
}

nav ul {
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
    border-radius: 10px;
    transition: color 0.3s ease, background 0.3s ease;
    padding: 0.3rem 0.3rem;
}

nav ul li a:hover {
    color: #1e90ff;
    background-color: rgba(255, 255, 255, 0.216);
}

.everything {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 7%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    position: relative;
}

.white-block, .blue-block {
    width: 350px;
    height: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    position: relative;
}

.blue-block {
    background: linear-gradient(#06D4ED 10%, #00A9FF, #116C9A 125%);
    color: white;
}

.select-button, .select-buttons, .select {
    width: 150px;
    height: 40px;
    border: 1.7px solid #06D4ED;
    border-radius: 7px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.select-button p, .select-buttons p, .select p {
    color: #00A9FF;
    font-size: 0.75em;
    letter-spacing: 1.5px;
    text-align: center;
}

.select-button:hover, .select-buttons:hover, .select:hover {
    background-color: #00A9FF;
    color: white;
}

.white-block p, .blue-block p, .blue-block h1 {
    font-weight: bold;
    text-align: center;
    color: #293847;
    margin: 10px 0;
}

.blue-block h1 {
    color: white;
}

.dtwo, .done {
    font-size: 1.7em;
    color: #00A9FF;
    text-align: center;
}

.price, .pricer, .pricing {
    font-size: 3.5em;
    text-align: center;
    margin: 10px 0;
}

.dollars, .dollarz, .dollar {
    font-size: 1.5em;
    vertical-align: super;
}

.permo, .permonth, .mo {
    font-size: 1em;
    vertical-align: super;
}

.projects, .projectors, .project {
    font-size: 1em;
    color: #99BAD2;
    opacity: 0.8;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.features li {
    font-size: 1em;
    color: #293847;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.features li::before {
    /* content: "✔️"; */
    margin-right: 8px;
    color: #00A9FF;
}
